.bg-img{
    background-image: url(./img/bk-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 488px;
}

@media (max-width: 640px){
    #side.active{
        right: 0;
    }
    #side{
        right: -640px;
    }
}